# Dependencies
node_modules/

# Build output
dist/

# Version control
.git/
.gitignore

# IDE / Editors
.vscode/
.idea/
.editorconfig

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker files
Dockerfile
docker-compose.yml
.dockerignore